@model IEnumerable<FearAndGreed.Models.FearAndGreedModel>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>Current Fear And Greed Index of Markets</h4>
    @foreach (var item in Model)
    {
        <dl class="row">
            <dd class="col-sm-10">
                <div>
                    Index Value: @item.IndexValue
                </div>
            </dd>
            <dd class="col-sm-10">
                <Div>
                    Classification: @item.IndexClassification
                </Div>
            </dd>
            <dd class="col-sm-10">
                <div>
                    Date: @item.IndexDate.Day/@item.IndexDate.Month/@item.IndexDate.Year
                </div>
            </dd>
            <dd class="col-sm-10">
                <div>
                    Time till Next Update: @item.IndexNextUpdate.Hour hr(s)
                </div>
            </dd>
        </dl>
    }
</div>