@model FearAndGreed.Models.FearAndGreedModel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>Current Fear And Greed Index of Markets</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            <div>
                Index Value: @Model.IndexValue
            </div>
        </dd>
        <dd class = "col-sm-10">
            <Div>
                Classification: @Model.IndexClassification
            </Div>
        </dd>
        <dd class = "col-sm-10">
            <div>
                Date Time: @Model.IndexDate
            </div>
        </dd>
        <dd class = "col-sm-10">
            <div>
                Time till Next Update: @Model.IndexNextUpdate hr(s)
            </div>
        </dd>
    </dl>
</div>